body {
background-color: white;
font-family: sans-serif;
}
header {
display: grid;
grid-template-columns: 1fr 1fr;
background-color: forestgreen;
color: white;
}
.header-title {
padding: 0rem 1rem;
}
.navigation-list {
justify-self: end;
}
ol.navigation-items {
    width: 20rem;
    display: flex;
    flex-flow: row wrap;
    /*waarom gaan de navigatie-onderdelen niet naar een volgende regel als het scherm minder breed wordt? ik dacht dat ik dit had getackeld met flex-wrap*/
    justify-content: space-between;
    padding: 0px 1rem
}
.navigation-items li {
    list-style: none;
}
.main-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "sidebar-1     mid-section  sidebar-2" 
    "sidebar-1     mid-section  sidebar-2"
    "sidebar-1     footer      footer"
    }
.sidebar {
    background-color: beige;
    padding: 1rem;
}
h4.sidebar-title {
    font-size: 1.2rem;
}
figure.sidebar-image {
    margin: 0rem;
}
.sidebar-1 {
    grid-row-start: 1;
    grid-row-end: 3;
}
.mid-section {
    padding: 1rem;
}

.sidebar-2 {

}
.sidebar-image img {
    width: 15vw;
}
.main-title {
    font-size: 1.5rem;
}
.footer {
    background-color: darkred;
    color: white;
    grid-column-start: 2;
    grid-column-end: 4;
}
.footer-text {
    display: grid;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    
    .main-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas:  
        "sidebar-1"
        "mid-section"
        "sidebar-2"
        "footer"
    }

    .header {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        justify-items: center;
    }
    ol.navigation-items {
        width: 20rem;
        display: flex;
        flex-flow: column nowrap;
    }
    .p {
        text-align: center;
    }
   }   